In [19]:
import helper

In [20]:
spark = helper.get_session("TEST","coll1")

In [21]:
people = spark.createDataFrame([("Bilbo Baggins",  50), ("Gandalf", 1000), ("Thorin", 195), ("Balin", 178), ("Kili", 77),
   ("Dwalin", 169), ("Oin", 167), ("Gloin", 158), ("Fili", 82), ("Bombur", None)], ["name", "age"])
people.show()

+-------------+----+
|         name| age|
+-------------+----+
|Bilbo Baggins|  50|
|      Gandalf|1000|
|       Thorin| 195|
|        Balin| 178|
|         Kili|  77|
|       Dwalin| 169|
|          Oin| 167|
|        Gloin| 158|
|         Fili|  82|
|       Bombur|null|
+-------------+----+

In [22]:
people.write.format(helper.FORMAT).mode("append").save()

In [23]:
df = spark.read.format(helper.FORMAT).load()
df.createOrReplaceTempView("people")
res = spark.sql("select name, age from people where age > 100 ")
res.show()

+-------+----+
|   name| age|
+-------+----+
|Gandalf|1000|
| Thorin| 195|
|  Balin| 178|
| Dwalin| 169|
|    Oin| 167|
|  Gloin| 158|
+-------+----+

In [25]:
df.join(res, on=['name']).show()

+-------+--------------------+----+----+
|   name|                 _id| age| age|
+-------+--------------------+----+----+
|    Oin|[5f5a5a03f9073016...| 167| 167|
|Gandalf|[5f5a5a03f9073016...|1000|1000|
| Dwalin|[5f5a5a03f9073016...| 169| 169|
|  Gloin|[5f5a5a03f9073016...| 158| 158|
| Thorin|[5f5a5a03f9073016...| 195| 195|
|  Balin|[5f5a5a03f9073016...| 178| 178|
+-------+--------------------+----+----+