In [2]:
import pymongo
import json 
import pandas as pd

In [3]:
URI = "mongodb://127.0.0.1:27017/?readPreference=primary&ssl=false"
client = pymongo.MongoClient(URI)
db = client['movie_dataset']

In [4]:
#query examples
#people that act in at least 2 movies
tmp = pd.DataFrame(
        db.cast.aggregate([
            {'$group':{ '_id':'$person_id', 'count': {'$sum': 1}}},#count(*) group by person_id
            {'$match':{'count': {'$gt': 1}}},#where count > 1
            {'$project':{'movies_count':'$count'}}# count as movies_count
        ])
    , dtype=int)
tmp.head()

       _id  movies_count
0    66968             2
1  1066132             2
2   581074             2
3   582186             2
4   558955             2

In [4]:
tmp = pd.DataFrame(
        db.ratings.aggregate([
            {'$group':{ '_id':'$movieId', 'count': {'$sum': 1}, 'avg_rate':{'$avg':'$rating'}}},
            #{'$match':{'count': {'$gt': 1}}},
            #{'$project':{'movies_count':'$count'}}
        ])
    , dtype=int)
tmp.head()

      _id  count  avg_rate
0  171221      1       5.0
1  147827      1       5.0
2  145078      1       1.0
3  142903      1       5.0
4  141286      1       3.0

In [9]:
tmp.max()

_id         176275.0
count        91921.0
avg_rate         5.0
dtype: float64